# Ignore everything in this directory
assembly/build/
assembly/target/
beanValidator/target/
calendar/target/
colorPicker/target/
columns/target/
combobox/target/
componentControl/target/
contextMenu/target/
core/target/
dataFilterSlider/target/
dataTable/target/
datascroller/target/
drag-drop/target/
dropdown-menu/target/
editor/target/
effect/target/
extendedDataTable/target/
fileUpload/target/
functions/target/
gmap/target/
hotKey/target/
inplaceInput/target/
inplaceSelect/target/
inputnumber-slider/target/
inputnumber-spinner/target/
insert/target/
jQuery/target/
layout/target/
listShuttle/target/
menu-components/target/
message/target/
modal-panel/target/
orderingList/target/
paint2D/target/
panel/target/
panelbar/target/
panelmenu/target/
pickList/target/
progressBAR/target/
scrollableDataTable/target/
separator/target/
simpleTogglePanel/target/
spacer/target/
state/target/
suggestionbox/target/
tabPanel/target/
togglePanel/target/
toolBar/target/
tooltip/target/
tree/target/
treeModel/target/
virtualEarth/target/

.project
.classpath
.settings/

# Except this file
!.gitignore

