# Ignore everything in this directory
generator/target/
maven-archetype-jsf-component/target/
maven-archetype-jsfwebapp/target/
maven-archetype-plug-n-skin/target/
maven-archetype-theme/target/
maven-cdk-plugin/target/
maven-javascript-plugin/target/
maven-resource-dependency-plugin/target/
richfaces-facelets/target/

.project
.classpath
.settings/

# Except this file
!.gitignore

